<div class="container d-flex flex-column vh-100 justify-content-center w-50">
  <div class="card p-4 shadow">
    <h1  class="mb-3">Stupid coaching</h1>
    <form method="get" action="/answer" data-turbo="false">
      <p class="mb-3" for="question">Ask your coach anything</p>
      <div class="mb-3">
        <input class="form-control mb-3" type="text" name="question">
        <button class="btn btn-primary mb-3" type="submit">Ask!</button>
      </div>
    </form>
  </div>
</div>
